#node_modules
node_modules

#package-lock
package-lock.json

# config
static/config

# tools used to setup static data for database
tools.js

# MongoDB authentication
database/secret.json

#config
config.json

#whitelist
account/whitelist.json

#google credentials
google/credentials.json
google/token.json